{:paths ["src" "resources"]
 :jvm-opts ["-Djdk.attach.allowAttachSelf"]
 :deps {org.clojure/clojure    {:mvn/version "1.12.0"}
        context/system         {:local/root "./libs/system"}
        hiccup/hiccup          {:mvn/version "2.0.0-RC4"}
        context/pg             {:local/root "./libs/pg"}
        context/http           {:local/root "./libs/http"}}
 :aliases
 {:dev
  {:extra-paths ["dev" "test" "resources"]
   :jvm-opts []#_["-Dclojure.compiler.direct-linking=true"
              "-XX:MaxDirectMemorySize=16g" "-XX:+UseLargePages"
              "--add-opens=java.base/java.nio=ALL-UNNAMED"
              "--add-opens=java.base/jdk.internal.ref=ALL-UNNAMED"
              "--add-opens=java.base/sun.nio.ch=ALL-UNNAMED"]}
  :test
  {:extra-deps {lambdaisland/kaocha {:mvn/version "1.77.1236"}}
   :extra-paths ["test"]
   ;; :jvm-opts   ^:replace ["-XX:-OmitStackTraceInFastThrow"]
   :main-opts  ["-m" "kaocha.runner"]}}}
